<?php

namespace Nddcoder\Dac\Diagram\{namespace};

use Nddcoder\Dac\Diagram\{abstract_namespace};

class {class_name} extends {abstract}
{
    public function getImage()
    {
        return '{image_path}';
    }
}
